<!DOCTYPE html>
<html>
   <head>
        <title>Title of Game</title>        
        <link rel = "stylesheet" type = "text/css" href = "./static/Styles/charScrn.css">
    </head>

    <body>
        <p>
            <div class = "charMenu">
                <div class = "charInput">
                    <!-- <b>Choose a character:</b> <br> -->
                    <input type="Submit" value = "" class = "Character1"/> <br>
                    <input type="Submit" value = "" class = "Character2"/> <br>
                    <input type="Submit" value = "" class = "Character3"/> <br>
                    We'll add more character buttons <br> as they grow.
                </div>
            </div>
        </p>
    </body>
</html>