body{
    background: url("../aboutpage.png") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: #000000;
}
.aboutContainer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 17rem;
    margin: 0;
}
.scrollBox{
    order: 0;
    background-color: black;
    color: white;
    overflow-y: scroll;
    border: 5px solid #B1A272;
    width: 21rem;
    height: 22rem;
    /*flex-basis: 50em;*/
}
.scrollBox h1{
    text-align: center;
    font-size: 22px;
}
.scrollBox p{
    text-indent: 50px;
    text-align: left;
    font-size: 17px;
}
.scrollBox ul{
    padding-left: 38%;
}
.backContainer{
    display: flex;
    flex-direction: row;
    padding-top: .5rem;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.backButton{
    order:1;
    height: 4.5rem;
    width: 6.5rem;
    background-image: url("../back.png");
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    font-size: 0;
}
aside nav{
    flex: 0 0 8rem;
}
aside{
    color: whitesmoke;
    order: 0;
    border: 2px solid white;
}
nav{
    color: white;
    order: 2;
    border: 2px solid white;
}
/*@media screen and (max-width: 425px) {
    body {
        background-color: lightblue;
    }
    .backContainer{
        padding-left: 15%;
    }
}
@media screen and (max-width: 425px) {
    body {
        background-color: lightblue;
    }
    .backContainer{
        padding-left: 15%;
    }
}*/