body{
    background: url("../AUversion/AboutScrn.png") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: #000000;
}
.aboutContainer{
    min-width: 380px;
    display: block;
    /*border: 2px solid red;*/
    margin: 83% auto 0 auto;
    width: 87%;
    /*height: 75%;*/
}
.scrollBox{
    order: 0;
    background-color: black;
    color: #FD792F;
    overflow: auto;
    margin: 0 auto 2% auto;
    padding: 4%;
    border: 4px solid #663D00;
    width: 70%;
    height: 38rem;
}
.scrollBox h1{
    text-align: center;
    font-size: 28px;
}
.scrollBox p{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 260%;
    /*text-indent: 50px;*/
    text-align: center;
    /*font-size: 17px;*/
}
.scrollBox ul{
    padding-left: 38%;
}
.backButton{
    order:1;
    background-image: url("../AUversion/back.png");
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    margin: -15px 0 0 72%;
    /*float: right;*/
    width: 24%;
    height: 12rem;
    /*border: 4px solid orange;*/
    font-size: 0;
}
/*@media screen and (max-width: 415px) {
    .aboutContainer{
        height: 30%;
        padding-top: 18rem;
    }
    .scrollBox{
        width: 75%;
        height: 20rem;
    }
    .backContainer{
        width: 75%;
    }
    .backButton{
        height: 2.5rem;
        width: 3.5rem;
    }
}
@media screen and (max-width: 357px) {
    .aboutContainer{
        height: 30%;
        padding-top: 18.3rem;
    }
    .scrollBox{
        width: 80%;
        height: 18.2rem;
    }
}
*/