html { 
    height: 100%; 
}

body{
    background: url("../character.png") no-repeat center center fixed;   
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: #000000;
}

.charInput{
    top: 40%;
    left: 27%;
    height:38%;
    width:47%;
    position:fixed;
    overflow:auto;
}

.Character1{
    background: url("../choice1.png");
    background-repeat: no-repeat;
    background-size:100%;
    background-color: transparent;
    height: 55%;
    width:95%;
    padding-bottom: 30%;
    margin-bottom: 10%;
    border: none;
    font-size: 0;
}