body{
    background-color: #000000;
    background-image: url("../character.png");   
    background-size: 80%;
    background-position: center top;
    background-repeat: no-repeat;  
}
.charInput{
    margin-top: 57%;
    margin-left: 28%;
}
.Character1{
    background-image: url("../choice1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 60%;
    height: 20%;
    padding-bottom: 15%;
    margin-bottom: 10%;
    border: none;
    font-size: 0;
}
.Character2{
    background-image: url("../choice2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 60%;
    height: 20%;
    padding-top: 15%;
    margin-bottom: 10%;
    border: none;
    font-size: 0;
}
.Character3{
    background-image: url("../choice3.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 60%;
    height: 20%;
    padding-top: 15%;
    border: none;
    font-size: 0;
}
