body{
    background: url("../character.png") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: #000000;
}
.charContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: column nowrap;
    margin: 0;
    width: 100%;
    /*border: 1px solid wheat;*/
}
.inputConttainer{
    order: 0;
    padding-top: 20rem;
    width: 16rem;
    /*overflow: auto;*/
    /*border: 1px solid wheat;*/
}
.Character1{
    padding-bottom: 25%;
    background: url("../choice.png");
    background-repeat: no-repeat;
    background-size:100%;
    background-color: transparent;
    width:100%;
    border: none;
    color: black;
    font-size: 130%;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.backContainer{
    display: flex;
    flex-direction: row;
    padding-top: .5rem;
    width: 16rem;
    /*border: 1px solid wheat;*/
}
.backButton{
    order:1;
    height: 4.5rem;
    width: 6.5rem;
    background-image: url("../back.png");
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    font-size: 0;
}
@media screen and (max-width: 400px) {
   .inputConttainer{
        width: 63%;
        font-size: 95%;
   }
    .Character1{
        width: 100%;
        padding-bottom: 15%;
    }
    .backContainer{
        width: 65%;
    }
    .backButton{
        height: 2.7rem;
        width: 4.2rem;
    }
}
@media screen and (max-width: 345px) {
   .inputConttainer{
        width: 63%;
        font-size: 85%;
        padding-top: 22 rem;
   }
    .Character1{
        width: 100%;
        padding-bottom: 10%;
    }
    .backContainer{
        width: 65%;
    }
    .backButton{
        height: 2.7rem;
        width: 4.2rem;
    }
}