/*End Screen */
html {
    height: 100%;
}
body {
    background: url("../END.png") no-repeat center center fixed;
    webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: #000000;
}
.title{
    width: 100%;
    top: 33%;
    text-align: center;
    background-color: transparent;
    position: fixed;
    color: white;
    font-size: 35px;
    z-index: -1;
}
.homeButton{
    background-repeat: no-repeat;
    background-size:100%;
    background-color: transparent;
    width: 43%;
    height: 40%;
    left: 9.5%;
    position: fixed;
    z-index: 2;
    border: none;
    font-size: 0;
}
.navButton{
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 35%;
    height: 40%;
    top: 11%;
    left: 55%;
    position: fixed;
    z-index: 3;
    border: none;
    font-size: 0;
}
