body{
    background: url("../helppage.png") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: #000000;
}
.helpContainer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 17rem;
    margin: 0;
}
.scrollBox{
    order: 0;
    background-color:black;
    color: white;
    font-size: 16px;
    border: 5px solid #B1A272;
    overflow-y: scroll;
    width: 21rem;
    height: 21rem;
}
.backContainer{
    display: flex;
    flex-direction: row;
    padding-top: .5rem;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.backButton{
    order:1;
    height: 4.5rem;
    width: 6.5rem;
    background-image: url("../back.png");
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    font-size: 0;

}