body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: url("../background.png") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: #000000;
}
.menuInput{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    align-content: center; 
    padding-top: 17rem;
}
.newStory{
    background-image: url("../new.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:transparent;
    height: 50%;
    width: 150%;
    border: none;
    font-size: 0;
    padding-bottom: 80%;
}
.loadStory{
    background-image: url("../load.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:transparent;
    height: 50%;
    width: 150%;
    border: none;
    font-size: 0;
    padding-bottom: 30%;
}
.about{
    background-image: url("../about.png");
    background-size: 105%;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 50%;
    width: 170%;
    border: none;
    font-size: 0;
    padding-bottom: 30%;
}
.help{
    background-image: url("../help.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 50%;
    width: 150%;
    border: none;
    font-size: 0;
    padding: 15%;
}
@media screen and (max-width: 380px){
    body{
        margin: 0px;
        padding-top: 1.2rem;
    }
    .newStory{
        width: 145%;
        padding-bottom: 27%;
    }
    .loadStory{
        padding-bottom: 30%;
        width: 145%;
    }
    .about{
        padding-bottom: 16%;
        width: 170%;
    }
    .help{
        padding-bottom: 40%;
        width: 140%;
    }
}