body{
    background: url("../background.png") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: #000000;
    margin: 0;
}
.menuContainer{
    display:flex;
    flex-direction: column;
    /*flex-wrap: nowrap;*/
    align-items: center;
    justify-content: center;
    padding-top: 17.5rem;

}
.menuItems{
    text-align: center;
}
.newStory{
    background-image: url("../new.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:transparent;
    height: 5.5rem;
    width: 6.5rem;
    border: none;
    font-size: 0;
}
.loadStory{
    background-image: url("../load.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:transparent;
    height: 5.5rem;
    width: 6.5rem;
    border: none;
    font-size: 0;
}
.about{
    background-image: url("../about.png");
    text-align: left;
    background-size: 105%;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 5.2rem;
    width: 8rem;
    border: none;
    font-size: 0;
}
.help{
    background-image: url("../help.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 5.5rem;
    width: 6rem;
    border: none;
    font-size: 0;
}
ul{
     list-style: none;
}
@media screen and (max-width: 380px){
    body{
        display:flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding-top: .8rem;
        padding-left: 40%;
        width: 3.5rem;
    }
    .newStory{
        width: 85%;
        height: 4.9rem;
        flex-shrink: 2;
    }
    .loadStory{ 
        width: 85%;
        height: 4.3rem;
        flex-shrink: 2;
    }
    .about{ 
        height:4.5rem;
        width: 7.7rem;
        flex-shrink: 2;
    }
    .help{ 
        width: 82%;
        height:4.2rem;
        flex-shrink: 2;
    }
}