/* Game Screen */
html {
    height: 100%;
}
body {
    background: url("../AUversion/GAME.png") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: #000000;
}
a {
    color:white;
    font-size:40px;
}
.title{
    width: 100%;
    top: 32%;
    text-align: center;
    background-color: transparent;
    position: fixed;
    color: white;
    font-size: 35px;
    z-index: -1;
}
.homeButton{
    background-image: url("../AUversion/MENUBUTTON.png");
    background-repeat: no-repeat;
    background-size:100%;
    background-color: transparent;
    width: 45%;
    height: 30%;
    left: 10%;
    position: fixed;
    z-index: 2;
    border: none;
    font-size: 0;
}
.navButton{
    background-image: url("../AUversion/HINT.png");
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 35%;
    height: 30%;
    top: 11%;
    left: 55%;
    position: fixed;
    z-index: 3;
    border: none;
    font-size: 0;
}
.inputBar{
    background-color: black;
    border: none;
    font-size: 25px;
    color: white;
    height: 5%;
    width: 48%;
    top: 91.20%;
    left: 19%;
    position: fixed;
    z-index: 5;
}
.submitButton{
    background-image: url("../AUversion/SUBMIT.png");
    background-size: 100%;
    background-color:black;
    background-repeat: no-repeat;
    width: 13%;
    height: 5.5%;
    left: 68%;
    top: 91.20%;
    position: fixed;
    z-index: 10;
    font-size: 0;
}
.textimg{
    visibility: hidden;
    background-color: transparent;
    width: 67%;
    top: 43%;
    left: 16%;
    position: fixed;
    z-index: 20;
}
.hinttext{
    visibility: hidden;
    color: white;
    font-size: 25px;
    height: 24%;
    width: 50%;
    top: 47%;
    left: 19%;
    padding-left:5%;
    padding-right:2%;
    padding-bottom:5%;
    position: fixed;
    z-index: 20;
    overflow: auto;
}
.hint1{
    visibility:hidden;
    display:none;
    z-index:25;
}
.hint2{
    visibility:hidden;
    display:none;
    z-index:25;
}
.hint3{
    visibility:hidden;
    display:none;
    z-index:25;
}
.spoiler{
    visibility:hidden;
    display:none;
    z-index:25;
}
.scrollBox{
    background-color: black;
    background-opacity:.4;
    color: white;
    font-size: 18px;
    height: 50%;
    width: 55.5%;
    top: 38%;
    left: 19%;
    padding-left:3%;
    padding-right:3%;
    padding-bottom: 3%;
    position: fixed;
    z-index: -1;
    overflow: auto;
}
