body{
	background: url("../AUversion/GAME.png") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: #000000;
}
.menuButton{
	background-image: url("../AUversion/MENUBUTTON.png");
}
.bottomOfPage{
    border: 1px solid #FD792F;
    /*Top right bottom left*/
	margin: 0 auto 0 auto;
	width: 25rem;
}
.inputBar{
	/*display: block;*/
    background-color: black;
    border: 1px solid #FD792F;
    font-size: 25px;
    color: white;
    /*height: 5%;*/
    width: 100%;
    z-index: 5;
}
.hintButton{
    background-image: url("../AUversion/HINT.png");
}
.submitButton .menuButton .hintButton{
    background-repeat: no-repeat;
    background-size:100%;
    background-color: transparent;
}
.hintText{
	
}