body{
	background: url("../AUversion/GAME.png") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: #000000;
}
.pageContainer{
	/*position: relative;*/
	margin: 0 auto 0 auto;
	/*border: 2px solid red;*/
	min-width: 350px; 
}
.submitButton, .menuButton, .hintButton{
    background-repeat: no-repeat;
    background-size:100%;
    background-color: transparent;
    font-size: 0px;
}
.title{
    width: 100%;
    text-align: center;
    background-color: transparent;
    position: fixed;
    color: orange;
    margin-top: 45%;
    font-size: 265%;
    z-index: -1;
}
.menuButton{
	background-image: url("../AUversion/MENUBUTTON.png");
	display: block;
	left: 15%;
	width: 60%;
	/*margin: 0 auto 0 auto;*/
	height: 20%;
	border: none;
    position: fixed;
    z-index: 5;
    border: none;
    font-size: 0;
}
.hintButton{
    background-image: url("../AUversion/HINT.png");
    width: 35%;
    height: 30%;
    left: 65%;
    position: fixed;
    z-index: 3;
    border: none;
    font-size: 0;
}
.textimg{
    visibility: hidden;
    background-color: transparent;
    width: 67%;
    top: 43%;
    left: 16%;
    position: fixed;
    z-index: 20;
}
.scrollBox{
    background-color: black;
    background-opacity:.4;
    color: white;
    font-size: 260%;
    height: 50%;
    width: 55.5%;
    top: 38%;
    left: 19%;
    padding-left:3%;
    padding-right:3%;
    padding-bottom: 2%;
    position: fixed;
    z-index: -1;
    overflow: auto;
}
.bottomOfPage{
	margin: 0 auto 0 auto;
	width: 76%;
}
.inputBar, .submitButton{
    bottom: 70px;
    /*border: none;*/
}
.inputBar{
	/*display: block;*/
    background-color: black;
    background-opacity:.4;
    border: 1px solid #804D00;
    font-size: 275%;
    color: ghostwhite;
    width: 64%;
    height: 7%;
    position: fixed;
    z-index: 5;
}
.submitButton{
    background-image: url("../AUversion/SUBMIT.png");
    border: none;
    right: 10%;
    width: 13%;
    height: 7%;
    font-size: 0;
    position: fixed;
    z-index: 5;
}
.hintText{
    visibility: hidden;
    color: white;
    font-size: 25px;
    height: 24%;
    width: 50%;
    top: 47%;
    left: 19%;
    padding-left:5%;
    padding-right:2%;
    padding-bottom:5%;
    position: fixed;
    z-index: 20;
    overflow: auto;
}
.hint1{
    visibility:hidden;
    display:none;
    z-index:25;
}
.hint2{
    visibility:hidden;
    display:none;
    z-index:25;
}
.hint3{
    visibility:hidden;
    display:none;
    z-index:25;
}
.spoiler{
    visibility:hidden;
    display:none;
    z-index:25;
}
