/*Import mobile design, create new mobile stylesheet*/
@import '../bootstrap/css/bootstrap.css';

@font-face{
	font-family: 'luciaFont';
	src: url("../Fonts/lsansuni.ttf");
} 
/*---------------------------Headers and text--------------------------------------*/
h1{
	font-size: 20px;
	padding: 25px 0 15px 0;	
   	font-family: "luciaFont";
}
h2{
	font-weight: bold;
	padding-bottom: 20px;
   	font-family: "luciaFont";
}
p{
	padding: 5px;
}
/*------------------------Common-----------------------------------------*/
#homePg, #charPg, #StoryPg, #aboutPg, #endPg{
    width:100%;
	background-repeat: no-repeat; 
    background-position: center top;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: #000000;
}
.container{
	width: 408px;
	margin: 300px auto 0 auto;
	/*border: 2px solid red;*/
}
.menu{
	width: 550px;
	margin: 15px auto 0 auto;
}
.homeButton, .navButton, .backButton{
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    font-size: 0;
    border: none;
}
.homeButton{
	background-image: url("../home.png");
    position: fixed;
    left: 190px;
    top: -1px;
    border: none;
    font-size: 0;
    width: 220px;
    height: 240px;
    border: 1px solid blue;
}
.navButton{
    position: fixed;
	background-image: url("../nav.png");
	width: 200px;
	height: 200px;
}
.backButton{
	position: fixed;
	top: 675px;
    height: 3.5rem;
    width: 6.5rem;
    background-image: url("../back.png");
    /*border: 1px solid blue;*/
}

.scrollBox{
    background-color: black;
    color: white;
    overflow-y: auto;
    border: 4px solid #B1A272;
    /*width: ;*/
    height: 350px;
}
/*---------------------------SPECIFIC DESIGN--------------------------------------*/
/*-------------------Home--------------------------------------------------------*/
#homePg{
    background: url("../background.png") no-repeat center center fixed;
    margin: 0 auto 0 auto;
}
.menuItems{
	width: 240px;
	margin: 0px auto 0 auto;
	text-align: center;
}
#homePg .newStorySc, #homePg .loadStorySc, #homePg .aboutSc,#homePg .helpSc{
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:transparent;
    font-size: 0;
    border: none;
    height: 80px;
    text-align: center;
}
.newStorySc{
    background-image: url("../new.png");
    width: 145px;
    margin-bottom: 15px;
}
#home .loadStorySc{
    background-image: url("../load.png");
    width: 150px;
    margin-bottom: 20px;
}
.aboutSc{
    background-image: url("../about.png");
    width: 180px;
    /*margin-bottom: 10px;*/
}
.helpSc{
    background-image: url("../help.png");
    width: 145px;
    margin-bottom: 25px;
}
/*-------------------Character----w/o difficulty-------------------------------------------------*/
#charPg{
    background: url("../character.png") no-repeat center center fixed;   
}
.chars{
	display: block;
	padding: 20px;
    background: url("../choice.png");
    background-repeat: no-repeat;
    background-size:100%;
    background-color: transparent;
    color: black;
    border: none;
    width: 300px;
    font-size: 22px;
    margin: 25px auto 40px auto; 
    font-weight: bold;
}
/*-------------------Story--------------------------------------------------------*/
#storyPg{
    background: url("../story.png") no-repeat center center fixed;
    font-weight: bold;
    color:black;
}
#storyPg .story1, #storyPg .story2, #storyPg  .story3,#storyPg  .story4{
    display: block;
    margin: 25px auto 45px auto;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size:100%;
    border: none;
    padding: 10px;
    width: 270px;
    font-size: 22px;
	font-family: luciaFont;
}
.story1{
    background: url("../choice1.png");
}
.story2{
    background: url("../choice2.png");
}
.story3{
    background: url("../choice3.png");
}
.story4{
    background: url("../choice3.png");
}
/*-------------------Game--------------------------------------------------------*/
#gamePg{
    background: url("../main.png") no-repeat center center fixed; 
}
.gameContainer{

}
.hintMenu{
	visibility: hidden;
}
/*-------------------ABOUT--------------------------------------------------------*/
#aboutPg{
    background: url("../aboutpage.png") no-repeat center center fixed;
}
#aboutPg .scrollBox h1{
    text-align: center;
    font-size: 22px;
}
#aboutPg table{
	/*padding-left: 25px;*/
	margin: 0 auto 0 auto; 	
	/*border: 1px solid blue;*/
	margin-bottom: 30px;
}
#aboutPg .left{
	/*border: 1px solid yellow;*/
	padding-left: 35px;
}
#aboutPg .right{
	padding-left: 35px;
}

#aboutPg .scrollBox ul{
    /*padding-left: 160px;*/
    list-style-type: circle;
}
/*-------------------Help--------------------------------------------------------*/
#helpPg{
    background: url("../helppage.png") no-repeat center center fixed;
}
/*-------------------End---------------------------------------------------------*/
#endPg{
    background: url("../end.png") no-repeat center center fixed;
}