html{
    height:100%;
    width:100%;
}
body{
    background: url("../story.png") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: #000000; 
}
.backButton{
    background-image: url("../back.png");
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 13.5%;
    height: 5.5%;
    left: 20%;
    top: 87%;
    position: fixed;
    z-index: 7;
    border: none;
    font-size: 0;
}
.storyScrollBox{
    top: 40%;
    left: 27%;
    height:38%;
    width:49%;
    position:fixed;
    overflow:auto;
}
.stories1{
    background: url("../choice1.png");
    background-repeat: no-repeat;
    background-size:100%;
    background-color: transparent;
    height: 30%;
    width:95%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 7%;
    border: none;
    color:black;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.stories2{
    background: url("../choice2.png");
    background-repeat: no-repeat;
    background-size:100%;
    background-color: transparent;
    height: 30%;
    width:95%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 7%;
    border: none;
    color:black;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.stories3{
    background: url("../choice3.png");
    background-repeat: no-repeat;
    background-size:100%;
    background-color: transparent;
    height: 30%;
    width:95%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 7%;
    border: none;
    color:black;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.stories3{
    background: url("../choice3.png");
    background-repeat: no-repeat;
    background-size:100%;
    background-color: transparent;
    height: 30%;
    width:95%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 7%;
    border: none;
    color:black;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}