/*------------------Import-Bootstrap--------------------------------------------------*/
/*@import '../bootstrap/css/bootstrap.css';*/
@import 'reset.css';

/*------------------Fonts-Style-and-Size---------------------------------------------------*/
@font-face{
    font-family: 'luciaFont';
    src: url("../Fonts/lsansuni.ttf");
} 
body, p{
    font-size: 12pt;
    padding: 5px;
}
h1{
    font-size: 14pt;
    padding: 25px 0 15px 0; 
    font-family: "luciaFont";
}
h2{
    font-weight: bold;
    padding-bottom: 20px;
    font-family: "luciaFont";
}
/*-------------------Debug--Borders------------------------------------------------------*/
.border{border: 2px solid black;}
.border-white{border: 1px solid white;}

/*-------------------Alignment------------------------------------------------------*/
.center{
    display: flex;
    justify-content: center;
}
.vcenter{
    padding-top: 24%;
}
@media screen and (max-width: 360px) {
    /*.vcenter{
        top: 30%
    }*/
}
/*-------------------Set-Background-Images--------------------------------------------------------*/
#homePg{background-image: url("../background.png");}
#charPg{background: url("../character.png");}
#storyPg{background: url("../story.png");}
#gamePg{background: url("../main.png");}
#aboutPg{background: url("../aboutpage.png");}
#helpPg{background: url("../helppage.png");}
#endPg{background: url("../end.png");}
/*General BG settings*/
#homePg, #charPg, #storyPg, #gamePg, #aboutPg, #helpPg, #endPg{
    background-color: #000000; 
    background-repeat: no-repeat; 
    background-position: center top; 
    background-attachment: fixed;
    background-size: contain;
}

/*-------------------Home--Page----------------------------------------------------*/
#homePg .newStorySc, #homePg .loadStorySc, #homePg .aboutSc,#homePg .helpSc{
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:transparent;
    font-size: 0;
    border: none;
    height: 80px;
    text-align: center;
}
.newStorySc:hover, .loadStorySc:hover, .helpSc:hover{
    width: 160px;
}
.aboutSc:hover{
    width: 190px;
}
.newStorySc{
    background-image: url("../new.png");
    width: 145px;
    margin-bottom: 5px 0 15px 0;
}
.loadStorySc{
    background-image: url("../load.png");
    width: 150px;
    margin: 25px 0 15px 0;
}
.aboutSc{
    background-image: url("../about.png");
    width: 180px;
    margin: 20px 0 15px 0;
}
.helpSc{
    background-image: url("../help.png");
    width: 145px;
}
#homePg ul li{
    text-align: center;
}