body {
    background-image: url("../spElem/homescreen.png");
    background-size: 900px 800px;    
    background-repeat: no-repeat; 
}
.input{
    /*text-align: center;*/
    margin-left: 400px;
    margin-top: 250px;
}
.newstory{
    background-image: url("../spElem/new.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:transparent;
    width: 100px;
    height: 100px;
    border:none;
}
.loadstory{
    background-image: url("../spElem/load.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:transparent;
    width: 100px;
    height: 100px;
    border:none;
}
.about{
    background-image: url("../spElem/about.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:transparent;
    width: 100px;
    height: 100px;
    border:none;
}
.help{
    background-image: url("../spElem/help.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:transparent;
    width: 100px;
    height: 100px;
    border:none;
}