<!DOCTYPE html>
<style>
    body {
	background: url(../static/character.png) no-repeat center center fixed; 
 	background-size: contain;} 
</style>

<body>
	<form name="character" method = "POST">
		<input  name="character" method = "POST" type="image" src="../static/choice.png" style="height:30%;top:25;left:50%;position:fixed;" value="character1"/>
		<input  name="character" method = "POST" type="image" src="../static/choice.png" value="character2" style="height:30%;top: 55%;left:50%;position:fixed;"/>
		<input  name="character" method = "POST" type="image" src="../static/choice.png" value="character3" style="height:30%;top: 75%;left:50%;position:fixed;"/>
	</form>
	
</style>
</body>
</html>