<!DOCTYPE html>
<style>
    body {
	background: url(../static/homescreen.png) no-repeat center center fixed; 
 	background-size: 100%;} 
</style>

<body>
	<form name="home" method = "POST">
		<input  name="home" method = "POST" type="image" src="../static/new.png" style="height:10%;position:fixed;top:30%;left:50%;z-index:2" value="new"/>
		<input  name="home" method = "POST" type="image" src="../static/load.png" value="load" style="height:10%;top: 45%;left:50%;position:fixed;z-index=4"/>
		<input  name="home" method = "POST" type="image" src="../static/about.png" value="about" style="height:10%;top: 55%;left:50%;position:fixed;z-index=4"/>
		<input  name="home" method = "POST" type="image" src="../static/help.png" value="help" style="height:10%;top: 65%;left:50%;position:fixed;z-index=4"/>
	</form>
	
</style>
</body>
</html>