body{
    background-image: url("../spElem/character.png");   
    background-size: 900px 800px;    
    background-repeat: no-repeat;  
    font-family:courier;
    font-size:160%;
}
.charInput{
    margin-top: 300px;
    margin-left: 300px;
}
.Character1{
    background-image: url("../spElem/new.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:transparent;
    width: 100px;
    height: 100px;
    border:none;
}
.Character2{
    background-image: url("../spElem/new.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:transparent;
    width: 100px;
    height: 100px;
    border:none;

}
.Character3{
    background-image: url("../spElem/new.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:transparent;
    width: 100px;
    height: 100px;
    border:none;

}