<!DOCTYPE html>
<html>
  <head>
    <title>Title of Game</title>
    <link rel = "stylesheet" type = "text/css" href = "./static/Styles/aboutScrn.css">
  </head>

  <body>
    <div class = "aboutContainer">
      <div class="scrollBox">
        <p>
        This is the American University version of Traverse (beta), a game designed to encourage players to interact with public spaces. Explore campus alone or with a friend at your own risk.
        </p>
        <p>
        </p>
        <h1> <b> The Creators </b> </h1>
        <p>
          <ul>
            <li> Josh McCoy </li>
            <li> Chris Totten </li>
            <li> Taylor Heywood </li>
            <li> Arunpreet Sandhu </li>
            <li> Alma Sanchez </li>
            <li> Erica Jurado </li>
            <li> Eric Vingola </li>
            <li> Kelli Dunlap </li>
            <li> Rae Heitkamp </li>
          </ul>
        </p>
      </div>
      <!-- <div class = "backContainer"> -->
        <form name="home" method="POST">
          <input  name="back" method = "POST" type="submit" value="backButton" class = "backButton"/>
        </form>
      <!-- </div> -->
    </div>
  </body>
</html>
