$def with (character_ids)
<!DOCTYPE html>
<html>
   <head>
        <title>Title of Game</title>        
        <link rel = "stylesheet" type = "text/css" href = "./static/Styles/charScrn.css">
    </head>

    <body>
        <p>
            <div class = "charMenu">
                <div class = "charInput">

                    <form name = "charMenuButtons" method = "POST"> 
                            
                        $for character_id in character_ids:
                            <input name = "Character" method = "POST" type= "Submit" value = $character_id class = "Character1"/> <br> 
                    
                    </form>

                </div>
            </div>
        </p>
    </body>
</html>
