$def with (character_ids, character_name)
<!DOCTYPE html>
<html>
  <head>
    <title>Traverse Character Selection Page</title> 
    <!-- Specify character encoding -->
    <meta charset="utf-8">
    <!-- Add description and keywords so the page can be found -->
    <meta name="description" content="Choose a character to start your adventure!">
    <meta name="keywords" content="museum, games, traverse, museum game, portrait, gallery">
    <!-- Import style sheet -->
    <link rel = "stylesheet" type = "text/css" href = "../static/Styles/styleSheet.css">
  </head>

  <body id = "charPg">
    <div class = "container-fluid">
      <!-- Spacer div -->
      <div class="col-sm-3 col-md-3 col-lg-3"></div>
        <div class = "inputContainer col-sm-6 col-md-6 col-lg-6">
          <form name = "charMenuButtons" method = "POST"> 
            <code>
            $for character_id in character_ids:
              $code:
                tupindex=character_ids.index(character_id)
              </code>
              <input name = "Character" method = "POST" type= "Submit" value = "$character_name[tupindex]" class = "chars"/>
          </form>
        </div>
      <div>
      <!-- Back button -->
        <form name = "Character" method = "POST">
          <input  name = "Character" method = "POST" type = "submit" value = "back" class = "backButton"/>
        </form>
      </div>
    </div>
  </body>
</html>