<!DOCTYPE html>
<html>
   <head>
        <title>Title of Game</title>        
        <link rel = "stylesheet" type = "text/css" href = "./static/Styles/charScrn.css">
    </head>

    <body>
        <p>
            <div class = "charMenu">
                <div class = "charInput">

                    <form name = "charMenuButtons" method = "POST"> 
                            
                        <input name = "Character1" method = "POST" type="Submit" value = "" class = "Character1"/> <br>
                        
                        <input name = "Character2" method = "POST" type="Submit" value = "" class = "Character2"/> <br>

                        <input name = "Character3" method = "POST" type="Submit" value = "" class = "Character3"/> <br>
                    
                    </form>

                </div>
            </div>
        </p>
    </body>
</html>
