<!DOCTYPE html>
<html>
<head>
  <title>Title of Game</title>        
  <link rel = "stylesheet" type = "text/css" href = "./static/Styles/endScrn.css">
</head>

<body>
  <div class = "end">
    <div class = "endInput">
      <form name = "endMenu" method = "POST"> 
        <input  name="home" method = "POST" type="submit" value="home" class = "homeButton"/><br>
        <input  name="home" method = "POST" type="submit" value="home" class = "navButton"/><br>
      </form>
    </div>
  </div>
</body>
</html>
