<!DOCTYPE html>
<html>
   <head>
        <title>Title of Game</title>        
        <link rel = "stylesheet" type = "text/css" href = "./static/Styles/endScrn.css">
   </head>
  <body>
    <div class = "end">
      <div class = "endInput">
        <form name = "endMenu" method = "POST"> 
          
          <input name = "home" mehtod = "POST" type = "Submit" value = "" class = "homeButton"/> 

          <input name = "navigation" mehtod = "POST" type = "Submit" value = "" class = "navButton"/>
        </form>
        
        <form name = "nextButton" method = "POST">
          <input name = "next" mehtod = "POST" type = "Submit" value = "" class = "nextButton"/> <br>
        </form>
        
        </div>
      </div>
</body>
</html>
