<!DOCTYPE html>
<html>
   <head>
        <title>Title of Game</title>        
        <link rel = "stylesheet" type = "text/css" href = "./static/Styles/endScrn.css">
   </head>
   <body>
   <div class = "end">
      <div class = "endInput">
         <form name = "endMenu" method = "POST"> 
          
            <input name = "home" method = "POST" type = "Submit" value = "" class = "homeButton"/> 

            <input name = "navigation" method = "POST" type = "Submit" value = "" class = "navButton"/>
           
            <input name = "submit" method = "POST" type="Submit" value = "" class = "submitButton"/>
          
        </form>
        
        </div>
      </div>
</body>
</html>
