$def with(steptext,stephint,storytitle,shouldDisplayHint)

<!DOCTYPE html>
<html>
    <script type="text/javascript">
        function toggle_visibility(id) {
            var e = document.getElementById(id);
            if(e.style.visibility == 'visible')
                e.style.visibility = 'hidden'
            else
                e.style.visibility = 'visible'
        }
    </script>

    <head>
        <title>Title of Game</title>   

         <link rel = "stylesheet" type = "text/css" href = "./static/Styles/gameScrn.css"> 
    </head>

    <body>
        <div class="title" type="text">$storytitle</div>

        <form name="home" method="POST">

            <input  name="home" method = "POST" type="submit" value="home" class = "homeButton"/><br>

            <input  name="home" method = "POST" type="submit" value="home" class = "navButton"/><br>

        </form>

        <form name="inputs" method="POST">

            <input name = "home" type="text" placeholder="  Enter your asc #:" class="inputBar"/>

            <input name = "home" type="image" class = "submitButton" />

            <a href="#" onclick="toggle_visibility('foo');" class="toggle"/>expand/collapse</a>

            <div id="foo">

                <img class="textimg" src="./static/dialogue.png">

            <div class="scrollBox"/>
                <p> 
                    $steptext
                    $if shouldDisplayHint:
                        $stephint
                </p> 
            </div>
            
        </form>

    </body>
</html>
