<!DOCTYPE html>
<html>
    <head>
        <title>Title of Game</title>        
        <link rel = "stylesheet" type = "text/css" href = "./static/Styles/gameScrn.css">
    </head>
    <!-- This is going to be the hard page. With pulling the elements from the database -->
    <body>
        <div class = "game">
            <form name = "gameMenu" method= "POST">
                    
                <input  name="home" method = "POST" type="submit" value="home" class = "homeButton"/>

                <input  name="nav" method = "POST" type="submit" value="home" class = "navButton"/>
            
            </form>
        
        </div>

        <div class="scrollBox">
                <p>
                stepText variable goes in here <br>
                Stories go in here. It'll look better later. But got the scroll box to work! <br> 
                <br> 
                <b> Adding more text so you can see it scroll. </b> 
                <br> Lorem Ipsum <br> is simply dummy text......
            </p>
        </div>

        <div class = "answerHere">

            <form name="accession" method = "POST" float="">
                
                <p> Answer: </p>
                    <input type="text" method="POST" name="accession" class = "accessionNum"/>

                    <input  name="main" method = "POST" type="submit" value="" class = "submitButton"/>

                </form>
    </body>
</html>
