<!DOCTYPE html>
<html>

   <head>
        <title>Title of Game</title>   

         <link rel = "stylesheet" type = "text/css" href = "./static/Styles/helpScrn.css"> 
    </head>
    
    <body>
        <form name="home" method="POST">
                    <input  name="back" method = "POST" type="submit" value="backButton" class = "backButton"/><br>
        </form>
          <div class="scrollBox"/>
                    <p>
                        To be determined at play test.
                    </p>
            </div>
    </body>