<!DOCTYPE html>
<html>
  <head>
    <title>Title of Game</title>   
    <link rel = "stylesheet" type = "text/css" href = "./static/Styles/helpScrn.css"> 
  </head>
    
  <body>

    <div class = "helpContainer">
      <div class="scrollBox"/>
        <p>
          In case the clues don't lead you to the answer try asking a museum employee. :)
        </p>
      </div>
      <form name="home" method="POST">
        <input  name="back" method = "POST" type="submit" value="backButton" class = "backButton"/>
      </form>
    </div>

  </body>
</html>