<!DOCTYPE html>
<html>
  <head>
    <title>Traverse Help</title>   
    <link rel = "stylesheet" type = "text/css" href = "../static/Styles/styleSheet.css"> 
  </head>
    
  <body id = "helpPg">
    <div class = "container">
      <div class="scrollBox">
        <p>
          In case the clues don't lead you to the answer try using the hints in the game. 
          <br><br>
          For any technical issues please email:<br>
           &nbsp;&nbsp;&nbsp;email@gmail.com
        </p>
      </div>
      <div>
        <form name="home" method="POST">
          <input  name="back" method = "POST" type="submit" value="backButton" class = "backButton"/>
        </form>
      </div>
    </div>
  </body>
</html>