<!DOCTYPE html>
<html>
   <head>
      <title>Title of Game</title>
      <link rel = "stylesheet" type = "text/css" href = "./static/Styles/homeScrn.css">
  </head>

  <body>
    <div class = "menuContainer">
        <form name = "homeMenu" method = "POST">
  		    <ul>
  	          <li> <input name = "new" method = "POST" type = "Submit" value = "storyScreen" class = "newStory"/> </li>
  	          <li> <input name = "new" method = "POST" type = "Submit" value = "aboutScreen" class = "about"/> </li>
	        </ul>
	    </form>
    </div>
  </body>
</html>
