<!DOCTYPE html>
<html>
    <head>
        <title>Traverse Home</title>  
        <link rel = "stylesheet" type = "text/css" href = "../static/Styles/styleSheet.css">
    </head>

    <body id = "homePg">
        <div class = "container">
            <form name = "homeMenu" method = "POST"> 
    		    <ul class = "menuItems">
                    <li> <input name = "new" method = "POST" type = "Submit" value = "charScreen" class = "newStorySc"/> </li>
                    <li> <input name = "new" method = "POST" type = "Submit" value = "loadScreen" class = "loadStorySc"/> </li>
                    <li> <input name = "new" method = "POST" type = "Submit" value = "aboutScreen" class = "aboutSc"/> </li>
                    <li> <input name = "new" method = "POST" type = "Submit" value = "helpScreen" class = "helpSc"/> </li>
                </ul>
    	    </form>
        </div>
    </body>
</html>
