$def with(steptext,storytitle)

<!DOCTYPE html>
<html>
    <head>
        <title>Title of Game</title>   

         <link rel = "stylesheet" type = "text/css" href = "./static/Styles/lastScrn.css"> 
    </head>

    <body>
        <div class="title" type="text">$storytitle</div>

        <input name="home" method="POST" type="submit" value="home" class ="logo">

        <form name="home" method="POST">

            <input  name="home" method = "POST" type="submit" value="home" class = "homeButton"/><br>

            <input  name="home" method = "POST" type="submit" value="home" class = "navButton"/><br>

            <input  name="home" method="POST" type="image" value="nothome" class = "nextButton" />

        </form>

            <!--Since we're not displaying anything but text right now, we don't need this for now
            <img class="textimg" src="./static/dialogue.png">-->

            <div class="scrollBox"/>
                <p> 
                    $steptext
                </p> 
            </div>
            
        </form>

    </body>
</html>
