$def with (story_ids, story_title)

<!DOCTYPE html>
<html>
<head>
  <title>Title of Game</title>
  <link rel="stylesheet" type="text/css" href="./static/Styles/storyScrn.css">
</head>

<body>
  <div class="charMenu">
  <div class="storyInput">
    <p>
      <form method="POST">
        $for story_id in story_ids:
          $code:
            tupindex=story_ids.index(story_id)
          <input name="story" method="POST" type="Submit" value= $story_title[tupindex] class="stories"/>  <br> 
      </form>
    </p>

  </div>
</body>
</html>