$def with (story_ids, story_title, walk_level, kid_friendly)
<!DOCTYPE html>
<html>
<head>
  <title>Title of Game</title>
  <link rel="stylesheet" type="text/css" href="./static/Styles/storyScrn.css">
</head>

<body>
  <form name="story" method="POST">
    <input  name="story" method = "POST" type="submit" value="back" class = "backButton"/><br>
  </form>
  <div class="storyScrollBox">
    <p>
      <form method="POST">
        $for story_id in story_ids:
          $code:
            tupindex=story_ids.index(story_id)
          $if walk_level[tupindex]==1:
            $if kid_friendly[tupindex]=="K":
              <input name="story" method="POST" type="Submit" value= "$story_title[tupindex]" class="stories1"/>  <br>
            $else:
              <input name="story" method="POST" type="Submit" value= "$story_title[tupindex]" class="stories1"/>  <br>
          $elif walk_level[tupindex]==2:
            $if kid_friendly[tupindex]=="K":
              <input name="story" method="POST" type="Submit" value= "$story_title[tupindex]" class="stories2"/>  <br>
            $else:
              <input name="story" method="POST" type="Submit" value= "$story_title[tupindex]" class="stories2"/>  <br>
          $elif walk_level[tupindex]==3: 
            $if kid_friendly[tupindex]=="K":
              <input name="story" method="POST" type="Submit" value= "$story_title[tupindex]" class="stories3"/>  <br>
            $else:
              <input name="story" method="POST" type="Submit" value= "$story_title[tupindex]" class="stories3"/>  <br>
          $else: 
            $if kid_friendly[tupindex]=="K":
              <input name="story" method="POST" type="Submit" value= "$story_title[tupindex]" class="stories4"/>  <br>
            $else:
              <input name="story" method="POST" type="Submit" value= "$story_title[tupindex]" class="stories4"/>  <br>
      </form>
    </p>
  </div>
</body>
</html>