<!DOCTYPE html>
<style>
    body {
	background: url(../static/background.png) repeat center center fixed; 
 	background-size: contain;} 
</style>

<body>
	<form name="main" method = "POST">
		<input  name="main" method = "POST" type="image" src="../static/home.png" style="height:30%;position:fixed;z-index:2" value="home"/>
		<input  name="main" method = "POST" type="image" src="../static/navigation.png" value="navigation" style="height:30%;top: 15%;right:20%;position:fixed;z-index=4"/>
	</form>
	<form name="accession" method = "POST" float="" position="fixed">
		Enter your asc #: <input type="text" method="POST" name="accession" style="position:fixed;height:6%;width:50%;top:80%;left=20%;z-index=4;"/>
			<input  name="main" method = "POST" type="image" src="../static/submit.png" value="submit" style="height:15%;top: 80%;right:5%;position:fixed;z-index=1"/>
	</form>
	<image src="../static/progress.png" style="height:15%;top:30%;position:fixed;z-index:2"/>
	<image src="../static/frame.png" style="height:60%;top:30%;right:20%;position:fixed;z-index:-1"/>
	<image src="../static/accession.png" style="height:12.5%;top:80%;right:30%;position:fixed;z-index:-1;"/>
</style>
</body>
</html>